body {
    text-align: center;
    margin: 0 auto;
    background-image: url(./images/pp.png);
}

header {
    position: fixed;
    display: inline-flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: nowrap;
    justify-content: flex-start;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 68px;
    background-color: #90aacbee;
    align-items: center;
    box-shadow: 2px 2px 22px;
}

.logo-img {
    margin: 0 auto;
    text-align: left;
    max-width: 88px;
    text-align: left;
    margin-left: 42px;
}

.logo-img 
img {
    width: 88px;
}

#nav-bar {
    margin: 0 auto;
    margin-right: 22px;
}

#nav-bar a {
    display: inline-flex;
    margin-right: 28px;
    padding: 0 22px;
    font-size: 18px;
    text-transform: uppercase;
    color: lavender;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: .9px;
    background-color: #90aacb;
    border-radius: 8px;
    width: min-content;
}

#nav-bar a:hover{
    transition: all 0.1s ease-in-out;
    transform: scale(1.02);
    background-color: rgb(108, 184, 141);
}

.container {
    margin: 0 auto;
}

#product-intro {
    margin: 0 auto;
    background-color: rgba(105, 105, 105, 0.849);
    color: rgb(235, 227, 215);
    margin-top: 128px;
    margin-bottom: 88px;
}

#product-intro h1 {
    padding-top: 22px;
    padding-bottom: 11px;
    background-color: rgba(105, 105, 105, 0.856);
    font-size: 52px;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: lighter;
}

#product-intro h4 {
    font-size: 22px;
    padding-bottom: 22px;
    margin-top: 18px;
    font-weight: 600;
    letter-spacing: .8px;
    color: white;
}

#product-pictures {
    padding-bottom: 88px;
}

.row .col-4 {
    margin: 0 auto;
}

.row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 8px 22px;
}

.row img:hover {
    transition: all 0.8s ease-out;
    transform: scale(1.2);
}

#product-info {
    margin: 0 auto;
    background-color: #fef1e6fa;
    color: black;
    
}

#product-info .row {
    margin: 0 auto;
}

#product-info .col-8 {
    padding: 38px 28px;
    font-size: 18px;
    text-align: left;
    line-height: 30px;
    letter-spacing: .8px;
}

#product-info form .form-section {
    padding-top: 18px;
    min-width: fit-content;
}

#product-info .form-section label {
    font-size: 17px;
    font-weight: 300;
    padding-bottom: 4px;
}

#product-info .form-section input {
    width: 66%;
    height: 32px;
    padding-left: 8px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .6px;
}

#product-info .submit {
    margin-top: 22px;
    width: 25%;
}

#product-info .col-4 {
    padding: 38px  28px;
    max-width: 400px;
}

#product-info .col-4 ul {
    margin: 0 auto;
    
    text-align: left;
    list-style: none;
    font-size: 18px;
    font-weight: 600;
}

#product-info .materials, .care {
    padding-bottom: 22px;
}

#product-info .col-4 li {
   text-align: left;
    font-size: 15px;
    list-style: none;
    font-weight: 300; 
    padding-left: 22px;
}

.video {
    margin: 0 auto;
    width: 600px;
    margin-top: 102px;
}

footer {
    font-size: 13px;
    margin: 0 auto;
    text-align: left;
    padding: 48px 0 12px 18px;
    color: darkred;
    font-weight: bold;
}